<h1 class="h1">Welcome to Angular</h1>

<h1 class="header">{{ title }}</h1>
<h4 *ngIf="isVisible" class="header">{{ date.toLocaleTimeString() }}</h4>

<h2>Selected Employee is :{{ sharedData.selectedEmployee.name }}</h2>
<button type="button" (click)="handleClick()">Update Time</button>
<button type="button" (click)="toggleVisibility()">Show/Hide</button>

<div *ngFor="let emp of employees">
  <app-employee-card [employee]="emp"></app-employee-card>
</div>

<!-- <app-employee-card [employee]="employees[0]"></app-employee-card>
<app-employee-card [employee]="employees[1]"></app-employee-card>
<app-employee-card [employee]="employees[2]"></app-employee-card> -->
<router-outlet />
